body{
  background-image: url("ElInternado2.jpg");
}
h2{
text-align: center
}

div{
  background-color: #4c7cce
}
h2{
  background-color: #4c7cce
}
h2{
  font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
}
