body{
  background-image: url("Elite2.jpg");
}
h2{
text-align: center
}

div{
  background-color:#d81717
}
h2{
  background-color: #d81717
}
h2{
  font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
}
