body{
  background-image: url("FisicaOQuimica2.jpg");
}
h2{
text-align: center
}

div{
  background-color:#f7f4f4
}
h2{
  background-color: #f7f4f4
}
h2{
  font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
}
