body{
  background-image: url("LaCasaDePapel2.jpg");
}
h2{
text-align: center
}

div{
  background-color: #ff1616
}
h2{
  background-color: #ff1616
}
h2{
  font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
}
