body{
  background-image: url("LaOtraMirada2.jpg");
}
h2{
text-align: center
}

div{
  background-color: #f95c76
}
h2{
  background-color: #f95c76
}
h2{
  font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
}
