body {
  background-image: url("LasChicasDelCable2.jpg");
}

div {
  background-color: #41dbbc;
}
h2 {
  text-align:center;
  background-color: #41dbbc;
}
h2{
  font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
}
