body {
  background-image: url("LosProtegidos2.jpg");
}

div {
  background-color: #9ced5a;
}
h2 {
  text-align:center;
  background-color: #9ced5a;
}
h2{
  font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
}
