body {
  background-image: url("Velvet2.jpg");
}

div {
  background-color: #991b1f;
}
h2 {
  text-align:center;
  background-color: #991b1f;
}
h2{
  font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
}
