body{
  background-image: url("VisAVis2.jpg");
}
h2{
text-align: center
}

div{
  background-color: #eae020
}
h2{
  background-color: #eae020
}
h2{
  font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
}
